#scrap {
	height: 100vh;
	background: url('assets/images/03_scrap_01_bg.jpg') no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}