#scrap {
	height: 100vh;
	background: url('assets/images/03_scrap_01_bg.jpg') no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

// Sacrap Demo
#scrap-demo {
	min-height: 100vh;
	position: relative;
	overflow-x: hidden;
	&:after {
		-moz-pointer-events: none;
		-webkit-pointer-events: none;
		-ms-pointer-events: none;
		pointer-events: none;
		content: '';
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		background-attachment: fixed;
		background-image: url('assets/images/03_scrap_01_bg.jpg');
		background-repeat: repeat, repeat-x;
		background-size: 1920px 1080px, cover;
	}

	.scrap-wrapper {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		margin-left: 5.416rem;
	}

	.day {
		text-align: left;
		margin-bottom: 3rem;
		h1 {
			display: inline-block;
			font-size: 3.133rem;
			font-weight: 900;
		}
		span {
			font-size: 1.204rem;
			margin-left: 1.25rem;
		}
	}

	.grid {
		.text {
			background: white;
			text-align: left;
			padding: 1.291rem 1.166rem;
		}
		h1 {
			font-size: 1.05rem;
			color: #121212;
			font-weight: 700;
			margin-bottom: 1.291rem;
		}
		p {
			font-family: Spoqa Han Sans;
			font-size: 0.841rem;
			color: #121212;
			font-weight: 300;
		}
		a {
			font-family: Spoqa Han Sans;
			font-size: 0.841rem;
			color: #0389f1;
			font-weight: 300;
		}
	}
	.tile {
		// width: 200px;
		// height: 150px;
		// position: relative;
		// display: inline-block;
		// overflow: hidden;
		// margin: 0;
		// img {
		// 	display: block;
		// 	position: absolute;
		// 	top: 50%;
		// 	left: 50%;
		// 	min-height: 100%;
		// 	min-width: 100%;
		// 	transform: translate(-50%, -50%);
		// }
	}
	.is-vertical {
		.tile:not(.link) {
			// position: relative;
			// display: inline-block;
			// overflow: hidden;
			// margin: 0;
			// img {
			// 	display: block;
			// 	position: absolute;
			// 	top: 50%;
			// 	left: 50%;
			// 	min-height: 100%;
			// 	min-width: 100%;
			// 	transform: translate(-50%, -50%);
			// }
			
				// width: 100%;
				// height: 100%;
			&:nth-of-type(1) {
				background: red;
				img {
				
					// width: 100%;
					// height: 100%;
				}
			}
		}
		.tile {
			// font-size: 3rem;
			
		}
	}
}