.beus-button {
	&.is-special {
		padding: 29px 38px;
		background: _palette(color1);
		border-radius: 40px;
		color: rgba(white, 0.9);
		font-weight: 700;
		font-size: 22px;
		white-space: nowrap;
		border: none;
		font-family: _font(family-special);
	}
}
