.slug-forms {
	input {
		&:nth-of-type(1) {
			width: 50%
		}
		&:nth-of-type(2) {
			width: 30%;
		}
	}
	.detail_form {
		input {
			&:nth-of-type(1) {
				width: 100%
			}
			&:nth-of-type(2) {
				width: 100%;
			}
		}
	}
}

.text-forms {
	input {
		width: 80%;
	}
}

.tag {
	margin: 0 5px;
}
