input {
	background-color: transparent;
	border: none;
	outline: none;
	border-bottom: 3px solid _palette(invert, fg-bold);
	color: _palette(fg);
	text-align: center;
	padding: 20px;
	margin-bottom: 40px;
	width: 100%;
}