.App {
  text-align: center; }
  .App .logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

/**
 *  Main App
 */
@keyframes spinAround {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }

.container {
  margin: 0 auto;
  position: relative; }
  @media screen and (min-width: 1024px) {
    .container {
      max-width: 960px;
      width: 960px; }
      .container.is-fluid {
        margin-left: 32px;
        margin-right: 32px;
        max-width: none;
        width: auto; } }
  @media screen and (max-width: 1215px) {
    .container.is-widescreen {
      max-width: 1152px;
      width: auto; } }
  @media screen and (max-width: 1407px) {
    .container.is-fullhd {
      max-width: 1344px;
      width: auto; } }
  @media screen and (min-width: 1216px) {
    .container {
      max-width: 1152px;
      width: 1152px; } }
  @media screen and (min-width: 1408px) {
    .container {
      max-width: 1344px;
      width: 1344px; } }

/* Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  -webkit-text-size-adjust: none; }

/* Box Model */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* Grid */
.row {
  border-bottom: solid 1px transparent;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.row > * {
  float: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.row:after, .row:before {
  content: '';
  display: block;
  clear: both;
  height: 0; }

.row.uniform > * > :first-child {
  margin-top: 0; }

.row.uniform > * > :last-child {
  margin-bottom: 0; }

.row.\30 \25 > * {
  padding: 0 0 0 0rem; }

.row.\30 \25 {
  margin: 0 0 -1px 0rem; }

.row.uniform.\30 \25 > * {
  padding: 0rem 0 0 0rem; }

.row.uniform.\30 \25 {
  margin: 0rem 0 -1px 0rem; }

.row > * {
  padding: 0 0 0 2rem; }

.row {
  margin: 0 0 -1px -2rem; }

.row.uniform > * {
  padding: 2rem 0 0 2rem; }

.row.uniform {
  margin: -2rem 0 -1px -2rem; }

.row.\32 00\25 > * {
  padding: 0 0 0 4rem; }

.row.\32 00\25 {
  margin: 0 0 -1px -4rem; }

.row.uniform.\32 00\25 > * {
  padding: 4rem 0 0 4rem; }

.row.uniform.\32 00\25 {
  margin: -4rem 0 -1px -4rem; }

.row.\31 50\25 > * {
  padding: 0 0 0 3rem; }

.row.\31 50\25 {
  margin: 0 0 -1px -3rem; }

.row.uniform.\31 50\25 > * {
  padding: 3rem 0 0 3rem; }

.row.uniform.\31 50\25 {
  margin: -3rem 0 -1px -3rem; }

.row.\35 0\25 > * {
  padding: 0 0 0 1rem; }

.row.\35 0\25 {
  margin: 0 0 -1px -1rem; }

.row.uniform.\35 0\25 > * {
  padding: 1rem 0 0 1rem; }

.row.uniform.\35 0\25 {
  margin: -1rem 0 -1px -1rem; }

.row.\32 5\25 > * {
  padding: 0 0 0 0.5rem; }

.row.\32 5\25 {
  margin: 0 0 -1px -0.5rem; }

.row.uniform.\32 5\25 > * {
  padding: 0.5rem 0 0 0.5rem; }

.row.uniform.\32 5\25 {
  margin: -0.5rem 0 -1px -0.5rem; }

.\31 2u, .\31 2u\24 {
  width: 100%;
  clear: none;
  margin-left: 0; }

.\31 1u, .\31 1u\24 {
  width: 91.6666666667%;
  clear: none;
  margin-left: 0; }

.\31 0u, .\31 0u\24 {
  width: 83.3333333333%;
  clear: none;
  margin-left: 0; }

.\39 u, .\39 u\24 {
  width: 75%;
  clear: none;
  margin-left: 0; }

.\38 u, .\38 u\24 {
  width: 66.6666666667%;
  clear: none;
  margin-left: 0; }

.\37 u, .\37 u\24 {
  width: 58.3333333333%;
  clear: none;
  margin-left: 0; }

.\36 u, .\36 u\24 {
  width: 50%;
  clear: none;
  margin-left: 0; }

.\35 u, .\35 u\24 {
  width: 41.6666666667%;
  clear: none;
  margin-left: 0; }

.\34 u, .\34 u\24 {
  width: 33.3333333333%;
  clear: none;
  margin-left: 0; }

.\33 u, .\33 u\24 {
  width: 25%;
  clear: none;
  margin-left: 0; }

.\32 u, .\32 u\24 {
  width: 16.6666666667%;
  clear: none;
  margin-left: 0; }

.\31 u, .\31 u\24 {
  width: 8.3333333333%;
  clear: none;
  margin-left: 0; }

.\31 2u\24 + *,
.\31 1u\24 + *,
.\31 0u\24 + *,
.\39 u\24 + *,
.\38 u\24 + *,
.\37 u\24 + *,
.\36 u\24 + *,
.\35 u\24 + *,
.\34 u\24 + *,
.\33 u\24 + *,
.\32 u\24 + *,
.\31 u\24 + * {
  clear: left; }

.\-11u {
  margin-left: 91.6666666667%; }

.\-10u {
  margin-left: 83.3333333333%; }

.\-9u {
  margin-left: 75%; }

.\-8u {
  margin-left: 66.6666666667%; }

.\-7u {
  margin-left: 58.3333333333%; }

.\-6u {
  margin-left: 50%; }

.\-5u {
  margin-left: 41.6666666667%; }

.\-4u {
  margin-left: 33.3333333333%; }

.\-3u {
  margin-left: 25%; }

.\-2u {
  margin-left: 16.6666666667%; }

.\-1u {
  margin-left: 8.3333333333%; }

@media screen and (max-width: 1680px) {
  .row > * {
    padding: 0 0 0 2rem; }
  .row {
    margin: 0 0 -1px -2rem; }
  .row.uniform > * {
    padding: 2rem 0 0 2rem; }
  .row.uniform {
    margin: -2rem 0 -1px -2rem; }
  .row.\32 00\25 > * {
    padding: 0 0 0 4rem; }
  .row.\32 00\25 {
    margin: 0 0 -1px -4rem; }
  .row.uniform.\32 00\25 > * {
    padding: 4rem 0 0 4rem; }
  .row.uniform.\32 00\25 {
    margin: -4rem 0 -1px -4rem; }
  .row.\31 50\25 > * {
    padding: 0 0 0 3rem; }
  .row.\31 50\25 {
    margin: 0 0 -1px -3rem; }
  .row.uniform.\31 50\25 > * {
    padding: 3rem 0 0 3rem; }
  .row.uniform.\31 50\25 {
    margin: -3rem 0 -1px -3rem; }
  .row.\35 0\25 > * {
    padding: 0 0 0 1rem; }
  .row.\35 0\25 {
    margin: 0 0 -1px -1rem; }
  .row.uniform.\35 0\25 > * {
    padding: 1rem 0 0 1rem; }
  .row.uniform.\35 0\25 {
    margin: -1rem 0 -1px -1rem; }
  .row.\32 5\25 > * {
    padding: 0 0 0 0.5rem; }
  .row.\32 5\25 {
    margin: 0 0 -1px -0.5rem; }
  .row.uniform.\32 5\25 > * {
    padding: 0.5rem 0 0 0.5rem; }
  .row.uniform.\32 5\25 {
    margin: -0.5rem 0 -1px -0.5rem; }
  .\31 2u\28xlarge\29, .\31 2u\24\28xlarge\29 {
    width: 100%;
    clear: none;
    margin-left: 0; }
  .\31 1u\28xlarge\29, .\31 1u\24\28xlarge\29 {
    width: 91.6666666667%;
    clear: none;
    margin-left: 0; }
  .\31 0u\28xlarge\29, .\31 0u\24\28xlarge\29 {
    width: 83.3333333333%;
    clear: none;
    margin-left: 0; }
  .\39 u\28xlarge\29, .\39 u\24\28xlarge\29 {
    width: 75%;
    clear: none;
    margin-left: 0; }
  .\38 u\28xlarge\29, .\38 u\24\28xlarge\29 {
    width: 66.6666666667%;
    clear: none;
    margin-left: 0; }
  .\37 u\28xlarge\29, .\37 u\24\28xlarge\29 {
    width: 58.3333333333%;
    clear: none;
    margin-left: 0; }
  .\36 u\28xlarge\29, .\36 u\24\28xlarge\29 {
    width: 50%;
    clear: none;
    margin-left: 0; }
  .\35 u\28xlarge\29, .\35 u\24\28xlarge\29 {
    width: 41.6666666667%;
    clear: none;
    margin-left: 0; }
  .\34 u\28xlarge\29, .\34 u\24\28xlarge\29 {
    width: 33.3333333333%;
    clear: none;
    margin-left: 0; }
  .\33 u\28xlarge\29, .\33 u\24\28xlarge\29 {
    width: 25%;
    clear: none;
    margin-left: 0; }
  .\32 u\28xlarge\29, .\32 u\24\28xlarge\29 {
    width: 16.6666666667%;
    clear: none;
    margin-left: 0; }
  .\31 u\28xlarge\29, .\31 u\24\28xlarge\29 {
    width: 8.3333333333%;
    clear: none;
    margin-left: 0; }
  .\31 2u\24\28xlarge\29 + *,
  .\31 1u\24\28xlarge\29 + *,
  .\31 0u\24\28xlarge\29 + *,
  .\39 u\24\28xlarge\29 + *,
  .\38 u\24\28xlarge\29 + *,
  .\37 u\24\28xlarge\29 + *,
  .\36 u\24\28xlarge\29 + *,
  .\35 u\24\28xlarge\29 + *,
  .\34 u\24\28xlarge\29 + *,
  .\33 u\24\28xlarge\29 + *,
  .\32 u\24\28xlarge\29 + *,
  .\31 u\24\28xlarge\29 + * {
    clear: left; }
  .\-11u\28xlarge\29 {
    margin-left: 91.6666666667%; }
  .\-10u\28xlarge\29 {
    margin-left: 83.3333333333%; }
  .\-9u\28xlarge\29 {
    margin-left: 75%; }
  .\-8u\28xlarge\29 {
    margin-left: 66.6666666667%; }
  .\-7u\28xlarge\29 {
    margin-left: 58.3333333333%; }
  .\-6u\28xlarge\29 {
    margin-left: 50%; }
  .\-5u\28xlarge\29 {
    margin-left: 41.6666666667%; }
  .\-4u\28xlarge\29 {
    margin-left: 33.3333333333%; }
  .\-3u\28xlarge\29 {
    margin-left: 25%; }
  .\-2u\28xlarge\29 {
    margin-left: 16.6666666667%; }
  .\-1u\28xlarge\29 {
    margin-left: 8.3333333333%; } }

@media screen and (max-width: 1280px) {
  .row > * {
    padding: 0 0 0 2rem; }
  .row {
    margin: 0 0 -1px -2rem; }
  .row.uniform > * {
    padding: 2rem 0 0 2rem; }
  .row.uniform {
    margin: -2rem 0 -1px -2rem; }
  .row.\32 00\25 > * {
    padding: 0 0 0 4rem; }
  .row.\32 00\25 {
    margin: 0 0 -1px -4rem; }
  .row.uniform.\32 00\25 > * {
    padding: 4rem 0 0 4rem; }
  .row.uniform.\32 00\25 {
    margin: -4rem 0 -1px -4rem; }
  .row.\31 50\25 > * {
    padding: 0 0 0 3rem; }
  .row.\31 50\25 {
    margin: 0 0 -1px -3rem; }
  .row.uniform.\31 50\25 > * {
    padding: 3rem 0 0 3rem; }
  .row.uniform.\31 50\25 {
    margin: -3rem 0 -1px -3rem; }
  .row.\35 0\25 > * {
    padding: 0 0 0 1rem; }
  .row.\35 0\25 {
    margin: 0 0 -1px -1rem; }
  .row.uniform.\35 0\25 > * {
    padding: 1rem 0 0 1rem; }
  .row.uniform.\35 0\25 {
    margin: -1rem 0 -1px -1rem; }
  .row.\32 5\25 > * {
    padding: 0 0 0 0.5rem; }
  .row.\32 5\25 {
    margin: 0 0 -1px -0.5rem; }
  .row.uniform.\32 5\25 > * {
    padding: 0.5rem 0 0 0.5rem; }
  .row.uniform.\32 5\25 {
    margin: -0.5rem 0 -1px -0.5rem; }
  .\31 2u\28large\29, .\31 2u\24\28large\29 {
    width: 100%;
    clear: none;
    margin-left: 0; }
  .\31 1u\28large\29, .\31 1u\24\28large\29 {
    width: 91.6666666667%;
    clear: none;
    margin-left: 0; }
  .\31 0u\28large\29, .\31 0u\24\28large\29 {
    width: 83.3333333333%;
    clear: none;
    margin-left: 0; }
  .\39 u\28large\29, .\39 u\24\28large\29 {
    width: 75%;
    clear: none;
    margin-left: 0; }
  .\38 u\28large\29, .\38 u\24\28large\29 {
    width: 66.6666666667%;
    clear: none;
    margin-left: 0; }
  .\37 u\28large\29, .\37 u\24\28large\29 {
    width: 58.3333333333%;
    clear: none;
    margin-left: 0; }
  .\36 u\28large\29, .\36 u\24\28large\29 {
    width: 50%;
    clear: none;
    margin-left: 0; }
  .\35 u\28large\29, .\35 u\24\28large\29 {
    width: 41.6666666667%;
    clear: none;
    margin-left: 0; }
  .\34 u\28large\29, .\34 u\24\28large\29 {
    width: 33.3333333333%;
    clear: none;
    margin-left: 0; }
  .\33 u\28large\29, .\33 u\24\28large\29 {
    width: 25%;
    clear: none;
    margin-left: 0; }
  .\32 u\28large\29, .\32 u\24\28large\29 {
    width: 16.6666666667%;
    clear: none;
    margin-left: 0; }
  .\31 u\28large\29, .\31 u\24\28large\29 {
    width: 8.3333333333%;
    clear: none;
    margin-left: 0; }
  .\31 2u\24\28large\29 + *,
  .\31 1u\24\28large\29 + *,
  .\31 0u\24\28large\29 + *,
  .\39 u\24\28large\29 + *,
  .\38 u\24\28large\29 + *,
  .\37 u\24\28large\29 + *,
  .\36 u\24\28large\29 + *,
  .\35 u\24\28large\29 + *,
  .\34 u\24\28large\29 + *,
  .\33 u\24\28large\29 + *,
  .\32 u\24\28large\29 + *,
  .\31 u\24\28large\29 + * {
    clear: left; }
  .\-11u\28large\29 {
    margin-left: 91.6666666667%; }
  .\-10u\28large\29 {
    margin-left: 83.3333333333%; }
  .\-9u\28large\29 {
    margin-left: 75%; }
  .\-8u\28large\29 {
    margin-left: 66.6666666667%; }
  .\-7u\28large\29 {
    margin-left: 58.3333333333%; }
  .\-6u\28large\29 {
    margin-left: 50%; }
  .\-5u\28large\29 {
    margin-left: 41.6666666667%; }
  .\-4u\28large\29 {
    margin-left: 33.3333333333%; }
  .\-3u\28large\29 {
    margin-left: 25%; }
  .\-2u\28large\29 {
    margin-left: 16.6666666667%; }
  .\-1u\28large\29 {
    margin-left: 8.3333333333%; } }

@media screen and (max-width: 980px) {
  .row > * {
    padding: 0 0 0 2rem; }
  .row {
    margin: 0 0 -1px -2rem; }
  .row.uniform > * {
    padding: 2rem 0 0 2rem; }
  .row.uniform {
    margin: -2rem 0 -1px -2rem; }
  .row.\32 00\25 > * {
    padding: 0 0 0 4rem; }
  .row.\32 00\25 {
    margin: 0 0 -1px -4rem; }
  .row.uniform.\32 00\25 > * {
    padding: 4rem 0 0 4rem; }
  .row.uniform.\32 00\25 {
    margin: -4rem 0 -1px -4rem; }
  .row.\31 50\25 > * {
    padding: 0 0 0 3rem; }
  .row.\31 50\25 {
    margin: 0 0 -1px -3rem; }
  .row.uniform.\31 50\25 > * {
    padding: 3rem 0 0 3rem; }
  .row.uniform.\31 50\25 {
    margin: -3rem 0 -1px -3rem; }
  .row.\35 0\25 > * {
    padding: 0 0 0 1rem; }
  .row.\35 0\25 {
    margin: 0 0 -1px -1rem; }
  .row.uniform.\35 0\25 > * {
    padding: 1rem 0 0 1rem; }
  .row.uniform.\35 0\25 {
    margin: -1rem 0 -1px -1rem; }
  .row.\32 5\25 > * {
    padding: 0 0 0 0.5rem; }
  .row.\32 5\25 {
    margin: 0 0 -1px -0.5rem; }
  .row.uniform.\32 5\25 > * {
    padding: 0.5rem 0 0 0.5rem; }
  .row.uniform.\32 5\25 {
    margin: -0.5rem 0 -1px -0.5rem; }
  .\31 2u\28medium\29, .\31 2u\24\28medium\29 {
    width: 100%;
    clear: none;
    margin-left: 0; }
  .\31 1u\28medium\29, .\31 1u\24\28medium\29 {
    width: 91.6666666667%;
    clear: none;
    margin-left: 0; }
  .\31 0u\28medium\29, .\31 0u\24\28medium\29 {
    width: 83.3333333333%;
    clear: none;
    margin-left: 0; }
  .\39 u\28medium\29, .\39 u\24\28medium\29 {
    width: 75%;
    clear: none;
    margin-left: 0; }
  .\38 u\28medium\29, .\38 u\24\28medium\29 {
    width: 66.6666666667%;
    clear: none;
    margin-left: 0; }
  .\37 u\28medium\29, .\37 u\24\28medium\29 {
    width: 58.3333333333%;
    clear: none;
    margin-left: 0; }
  .\36 u\28medium\29, .\36 u\24\28medium\29 {
    width: 50%;
    clear: none;
    margin-left: 0; }
  .\35 u\28medium\29, .\35 u\24\28medium\29 {
    width: 41.6666666667%;
    clear: none;
    margin-left: 0; }
  .\34 u\28medium\29, .\34 u\24\28medium\29 {
    width: 33.3333333333%;
    clear: none;
    margin-left: 0; }
  .\33 u\28medium\29, .\33 u\24\28medium\29 {
    width: 25%;
    clear: none;
    margin-left: 0; }
  .\32 u\28medium\29, .\32 u\24\28medium\29 {
    width: 16.6666666667%;
    clear: none;
    margin-left: 0; }
  .\31 u\28medium\29, .\31 u\24\28medium\29 {
    width: 8.3333333333%;
    clear: none;
    margin-left: 0; }
  .\31 2u\24\28medium\29 + *,
  .\31 1u\24\28medium\29 + *,
  .\31 0u\24\28medium\29 + *,
  .\39 u\24\28medium\29 + *,
  .\38 u\24\28medium\29 + *,
  .\37 u\24\28medium\29 + *,
  .\36 u\24\28medium\29 + *,
  .\35 u\24\28medium\29 + *,
  .\34 u\24\28medium\29 + *,
  .\33 u\24\28medium\29 + *,
  .\32 u\24\28medium\29 + *,
  .\31 u\24\28medium\29 + * {
    clear: left; }
  .\-11u\28medium\29 {
    margin-left: 91.6666666667%; }
  .\-10u\28medium\29 {
    margin-left: 83.3333333333%; }
  .\-9u\28medium\29 {
    margin-left: 75%; }
  .\-8u\28medium\29 {
    margin-left: 66.6666666667%; }
  .\-7u\28medium\29 {
    margin-left: 58.3333333333%; }
  .\-6u\28medium\29 {
    margin-left: 50%; }
  .\-5u\28medium\29 {
    margin-left: 41.6666666667%; }
  .\-4u\28medium\29 {
    margin-left: 33.3333333333%; }
  .\-3u\28medium\29 {
    margin-left: 25%; }
  .\-2u\28medium\29 {
    margin-left: 16.6666666667%; }
  .\-1u\28medium\29 {
    margin-left: 8.3333333333%; } }

@media screen and (max-width: 736px) {
  .row > * {
    padding: 0 0 0 2rem; }
  .row {
    margin: 0 0 -1px -2rem; }
  .row.uniform > * {
    padding: 2rem 0 0 2rem; }
  .row.uniform {
    margin: -2rem 0 -1px -2rem; }
  .row.\32 00\25 > * {
    padding: 0 0 0 4rem; }
  .row.\32 00\25 {
    margin: 0 0 -1px -4rem; }
  .row.uniform.\32 00\25 > * {
    padding: 4rem 0 0 4rem; }
  .row.uniform.\32 00\25 {
    margin: -4rem 0 -1px -4rem; }
  .row.\31 50\25 > * {
    padding: 0 0 0 3rem; }
  .row.\31 50\25 {
    margin: 0 0 -1px -3rem; }
  .row.uniform.\31 50\25 > * {
    padding: 3rem 0 0 3rem; }
  .row.uniform.\31 50\25 {
    margin: -3rem 0 -1px -3rem; }
  .row.\35 0\25 > * {
    padding: 0 0 0 1rem; }
  .row.\35 0\25 {
    margin: 0 0 -1px -1rem; }
  .row.uniform.\35 0\25 > * {
    padding: 1rem 0 0 1rem; }
  .row.uniform.\35 0\25 {
    margin: -1rem 0 -1px -1rem; }
  .row.\32 5\25 > * {
    padding: 0 0 0 0.5rem; }
  .row.\32 5\25 {
    margin: 0 0 -1px -0.5rem; }
  .row.uniform.\32 5\25 > * {
    padding: 0.5rem 0 0 0.5rem; }
  .row.uniform.\32 5\25 {
    margin: -0.5rem 0 -1px -0.5rem; }
  .\31 2u\28small\29, .\31 2u\24\28small\29 {
    width: 100%;
    clear: none;
    margin-left: 0; }
  .\31 1u\28small\29, .\31 1u\24\28small\29 {
    width: 91.6666666667%;
    clear: none;
    margin-left: 0; }
  .\31 0u\28small\29, .\31 0u\24\28small\29 {
    width: 83.3333333333%;
    clear: none;
    margin-left: 0; }
  .\39 u\28small\29, .\39 u\24\28small\29 {
    width: 75%;
    clear: none;
    margin-left: 0; }
  .\38 u\28small\29, .\38 u\24\28small\29 {
    width: 66.6666666667%;
    clear: none;
    margin-left: 0; }
  .\37 u\28small\29, .\37 u\24\28small\29 {
    width: 58.3333333333%;
    clear: none;
    margin-left: 0; }
  .\36 u\28small\29, .\36 u\24\28small\29 {
    width: 50%;
    clear: none;
    margin-left: 0; }
  .\35 u\28small\29, .\35 u\24\28small\29 {
    width: 41.6666666667%;
    clear: none;
    margin-left: 0; }
  .\34 u\28small\29, .\34 u\24\28small\29 {
    width: 33.3333333333%;
    clear: none;
    margin-left: 0; }
  .\33 u\28small\29, .\33 u\24\28small\29 {
    width: 25%;
    clear: none;
    margin-left: 0; }
  .\32 u\28small\29, .\32 u\24\28small\29 {
    width: 16.6666666667%;
    clear: none;
    margin-left: 0; }
  .\31 u\28small\29, .\31 u\24\28small\29 {
    width: 8.3333333333%;
    clear: none;
    margin-left: 0; }
  .\31 2u\24\28small\29 + *,
  .\31 1u\24\28small\29 + *,
  .\31 0u\24\28small\29 + *,
  .\39 u\24\28small\29 + *,
  .\38 u\24\28small\29 + *,
  .\37 u\24\28small\29 + *,
  .\36 u\24\28small\29 + *,
  .\35 u\24\28small\29 + *,
  .\34 u\24\28small\29 + *,
  .\33 u\24\28small\29 + *,
  .\32 u\24\28small\29 + *,
  .\31 u\24\28small\29 + * {
    clear: left; }
  .\-11u\28small\29 {
    margin-left: 91.6666666667%; }
  .\-10u\28small\29 {
    margin-left: 83.3333333333%; }
  .\-9u\28small\29 {
    margin-left: 75%; }
  .\-8u\28small\29 {
    margin-left: 66.6666666667%; }
  .\-7u\28small\29 {
    margin-left: 58.3333333333%; }
  .\-6u\28small\29 {
    margin-left: 50%; }
  .\-5u\28small\29 {
    margin-left: 41.6666666667%; }
  .\-4u\28small\29 {
    margin-left: 33.3333333333%; }
  .\-3u\28small\29 {
    margin-left: 25%; }
  .\-2u\28small\29 {
    margin-left: 16.6666666667%; }
  .\-1u\28small\29 {
    margin-left: 8.3333333333%; } }

@media screen and (max-width: 480px) {
  .row > * {
    padding: 0 0 0 2rem; }
  .row {
    margin: 0 0 -1px -2rem; }
  .row.uniform > * {
    padding: 2rem 0 0 2rem; }
  .row.uniform {
    margin: -2rem 0 -1px -2rem; }
  .row.\32 00\25 > * {
    padding: 0 0 0 4rem; }
  .row.\32 00\25 {
    margin: 0 0 -1px -4rem; }
  .row.uniform.\32 00\25 > * {
    padding: 4rem 0 0 4rem; }
  .row.uniform.\32 00\25 {
    margin: -4rem 0 -1px -4rem; }
  .row.\31 50\25 > * {
    padding: 0 0 0 3rem; }
  .row.\31 50\25 {
    margin: 0 0 -1px -3rem; }
  .row.uniform.\31 50\25 > * {
    padding: 3rem 0 0 3rem; }
  .row.uniform.\31 50\25 {
    margin: -3rem 0 -1px -3rem; }
  .row.\35 0\25 > * {
    padding: 0 0 0 1rem; }
  .row.\35 0\25 {
    margin: 0 0 -1px -1rem; }
  .row.uniform.\35 0\25 > * {
    padding: 1rem 0 0 1rem; }
  .row.uniform.\35 0\25 {
    margin: -1rem 0 -1px -1rem; }
  .row.\32 5\25 > * {
    padding: 0 0 0 0.5rem; }
  .row.\32 5\25 {
    margin: 0 0 -1px -0.5rem; }
  .row.uniform.\32 5\25 > * {
    padding: 0.5rem 0 0 0.5rem; }
  .row.uniform.\32 5\25 {
    margin: -0.5rem 0 -1px -0.5rem; }
  .\31 2u\28xsmall\29, .\31 2u\24\28xsmall\29 {
    width: 100%;
    clear: none;
    margin-left: 0; }
  .\31 1u\28xsmall\29, .\31 1u\24\28xsmall\29 {
    width: 91.6666666667%;
    clear: none;
    margin-left: 0; }
  .\31 0u\28xsmall\29, .\31 0u\24\28xsmall\29 {
    width: 83.3333333333%;
    clear: none;
    margin-left: 0; }
  .\39 u\28xsmall\29, .\39 u\24\28xsmall\29 {
    width: 75%;
    clear: none;
    margin-left: 0; }
  .\38 u\28xsmall\29, .\38 u\24\28xsmall\29 {
    width: 66.6666666667%;
    clear: none;
    margin-left: 0; }
  .\37 u\28xsmall\29, .\37 u\24\28xsmall\29 {
    width: 58.3333333333%;
    clear: none;
    margin-left: 0; }
  .\36 u\28xsmall\29, .\36 u\24\28xsmall\29 {
    width: 50%;
    clear: none;
    margin-left: 0; }
  .\35 u\28xsmall\29, .\35 u\24\28xsmall\29 {
    width: 41.6666666667%;
    clear: none;
    margin-left: 0; }
  .\34 u\28xsmall\29, .\34 u\24\28xsmall\29 {
    width: 33.3333333333%;
    clear: none;
    margin-left: 0; }
  .\33 u\28xsmall\29, .\33 u\24\28xsmall\29 {
    width: 25%;
    clear: none;
    margin-left: 0; }
  .\32 u\28xsmall\29, .\32 u\24\28xsmall\29 {
    width: 16.6666666667%;
    clear: none;
    margin-left: 0; }
  .\31 u\28xsmall\29, .\31 u\24\28xsmall\29 {
    width: 8.3333333333%;
    clear: none;
    margin-left: 0; }
  .\31 2u\24\28xsmall\29 + *,
  .\31 1u\24\28xsmall\29 + *,
  .\31 0u\24\28xsmall\29 + *,
  .\39 u\24\28xsmall\29 + *,
  .\38 u\24\28xsmall\29 + *,
  .\37 u\24\28xsmall\29 + *,
  .\36 u\24\28xsmall\29 + *,
  .\35 u\24\28xsmall\29 + *,
  .\34 u\24\28xsmall\29 + *,
  .\33 u\24\28xsmall\29 + *,
  .\32 u\24\28xsmall\29 + *,
  .\31 u\24\28xsmall\29 + * {
    clear: left; }
  .\-11u\28xsmall\29 {
    margin-left: 91.6666666667%; }
  .\-10u\28xsmall\29 {
    margin-left: 83.3333333333%; }
  .\-9u\28xsmall\29 {
    margin-left: 75%; }
  .\-8u\28xsmall\29 {
    margin-left: 66.6666666667%; }
  .\-7u\28xsmall\29 {
    margin-left: 58.3333333333%; }
  .\-6u\28xsmall\29 {
    margin-left: 50%; }
  .\-5u\28xsmall\29 {
    margin-left: 41.6666666667%; }
  .\-4u\28xsmall\29 {
    margin-left: 33.3333333333%; }
  .\-3u\28xsmall\29 {
    margin-left: 25%; }
  .\-2u\28xsmall\29 {
    margin-left: 16.6666666667%; }
  .\-1u\28xsmall\29 {
    margin-left: 8.3333333333%; } }

@media screen and (max-width: 360px) {
  .row > * {
    padding: 0 0 0 2rem; }
  .row {
    margin: 0 0 -1px -2rem; }
  .row.uniform > * {
    padding: 2rem 0 0 2rem; }
  .row.uniform {
    margin: -2rem 0 -1px -2rem; }
  .row.\32 00\25 > * {
    padding: 0 0 0 4rem; }
  .row.\32 00\25 {
    margin: 0 0 -1px -4rem; }
  .row.uniform.\32 00\25 > * {
    padding: 4rem 0 0 4rem; }
  .row.uniform.\32 00\25 {
    margin: -4rem 0 -1px -4rem; }
  .row.\31 50\25 > * {
    padding: 0 0 0 3rem; }
  .row.\31 50\25 {
    margin: 0 0 -1px -3rem; }
  .row.uniform.\31 50\25 > * {
    padding: 3rem 0 0 3rem; }
  .row.uniform.\31 50\25 {
    margin: -3rem 0 -1px -3rem; }
  .row.\35 0\25 > * {
    padding: 0 0 0 1rem; }
  .row.\35 0\25 {
    margin: 0 0 -1px -1rem; }
  .row.uniform.\35 0\25 > * {
    padding: 1rem 0 0 1rem; }
  .row.uniform.\35 0\25 {
    margin: -1rem 0 -1px -1rem; }
  .row.\32 5\25 > * {
    padding: 0 0 0 0.5rem; }
  .row.\32 5\25 {
    margin: 0 0 -1px -0.5rem; }
  .row.uniform.\32 5\25 > * {
    padding: 0.5rem 0 0 0.5rem; }
  .row.uniform.\32 5\25 {
    margin: -0.5rem 0 -1px -0.5rem; }
  .\31 2u\28xxsmall\29, .\31 2u\24\28xxsmall\29 {
    width: 100%;
    clear: none;
    margin-left: 0; }
  .\31 1u\28xxsmall\29, .\31 1u\24\28xxsmall\29 {
    width: 91.6666666667%;
    clear: none;
    margin-left: 0; }
  .\31 0u\28xxsmall\29, .\31 0u\24\28xxsmall\29 {
    width: 83.3333333333%;
    clear: none;
    margin-left: 0; }
  .\39 u\28xxsmall\29, .\39 u\24\28xxsmall\29 {
    width: 75%;
    clear: none;
    margin-left: 0; }
  .\38 u\28xxsmall\29, .\38 u\24\28xxsmall\29 {
    width: 66.6666666667%;
    clear: none;
    margin-left: 0; }
  .\37 u\28xxsmall\29, .\37 u\24\28xxsmall\29 {
    width: 58.3333333333%;
    clear: none;
    margin-left: 0; }
  .\36 u\28xxsmall\29, .\36 u\24\28xxsmall\29 {
    width: 50%;
    clear: none;
    margin-left: 0; }
  .\35 u\28xxsmall\29, .\35 u\24\28xxsmall\29 {
    width: 41.6666666667%;
    clear: none;
    margin-left: 0; }
  .\34 u\28xxsmall\29, .\34 u\24\28xxsmall\29 {
    width: 33.3333333333%;
    clear: none;
    margin-left: 0; }
  .\33 u\28xxsmall\29, .\33 u\24\28xxsmall\29 {
    width: 25%;
    clear: none;
    margin-left: 0; }
  .\32 u\28xxsmall\29, .\32 u\24\28xxsmall\29 {
    width: 16.6666666667%;
    clear: none;
    margin-left: 0; }
  .\31 u\28xxsmall\29, .\31 u\24\28xxsmall\29 {
    width: 8.3333333333%;
    clear: none;
    margin-left: 0; }
  .\31 2u\24\28xxsmall\29 + *,
  .\31 1u\24\28xxsmall\29 + *,
  .\31 0u\24\28xxsmall\29 + *,
  .\39 u\24\28xxsmall\29 + *,
  .\38 u\24\28xxsmall\29 + *,
  .\37 u\24\28xxsmall\29 + *,
  .\36 u\24\28xxsmall\29 + *,
  .\35 u\24\28xxsmall\29 + *,
  .\34 u\24\28xxsmall\29 + *,
  .\33 u\24\28xxsmall\29 + *,
  .\32 u\24\28xxsmall\29 + *,
  .\31 u\24\28xxsmall\29 + * {
    clear: left; }
  .\-11u\28xxsmall\29 {
    margin-left: 91.6666666667%; }
  .\-10u\28xxsmall\29 {
    margin-left: 83.3333333333%; }
  .\-9u\28xxsmall\29 {
    margin-left: 75%; }
  .\-8u\28xxsmall\29 {
    margin-left: 66.6666666667%; }
  .\-7u\28xxsmall\29 {
    margin-left: 58.3333333333%; }
  .\-6u\28xxsmall\29 {
    margin-left: 50%; }
  .\-5u\28xxsmall\29 {
    margin-left: 41.6666666667%; }
  .\-4u\28xxsmall\29 {
    margin-left: 33.3333333333%; }
  .\-3u\28xxsmall\29 {
    margin-left: 25%; }
  .\-2u\28xxsmall\29 {
    margin-left: 16.6666666667%; }
  .\-1u\28xxsmall\29 {
    margin-left: 8.3333333333%; } }

/* Basic */
@-ms-viewport {
  width: device-width; }

body {
  -ms-overflow-style: scrollbar; }

@media screen and (max-width: 480px) {
  html,
  body {
    min-width: 320px; } }

body.is-loading *,
body.is-loading *:before,
body.is-loading *:after {
  -moz-animation: none !important;
  -webkit-animation: none !important;
  -ms-animation: none !important;
  animation: none !important;
  -moz-transition: none !important;
  -webkit-transition: none !important;
  -ms-transition: none !important;
  transition: none !important; }

/* Type */
html {
  font-size: 18pt; }
  @media screen and (max-width: 1680px) {
    html {
      font-size: 14pt; } }
  @media screen and (max-width: 1280px) {
    html {
      font-size: 12pt; } }
  @media screen and (max-width: 736px) {
    html {
      font-size: 11pt; } }
  @media screen and (max-width: 360px) {
    html {
      font-size: 10pt; } }

body {
  background-color: #ffffff;
  color: #fff; }

body,
input,
select,
textarea {
  font-family: "Gotham", "Spoqa Han Sans", Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.65; }
  body .special-text,
  input .special-text,
  select .special-text,
  textarea .special-text {
    font-family: "NanumMyeongjo", monospace; }
  body .light-text,
  input .light-text,
  select .light-text,
  textarea .light-text {
    opacity: 0.5; }
    body .light-text strong,
    input .light-text strong,
    select .light-text strong,
    textarea .light-text strong {
      opacity: 0.66; }

a {
  -moz-transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  text-decoration: underline; }
  a:hover {
    text-decoration: none; }

strong,
b {
  font-weight: 400; }

em,
i {
  font-style: italic; }

p {
  margin: 0 0 2rem 0; }
  p.major {
    font-size: 1.25rem; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  line-height: 1.375;
  letter-spacing: -0.05em;
  margin: 0 0 1rem 0; }
  h1 a,
  h2 a,
  h3 a,
  h4 a,
  h5 a,
  h6 a {
    color: inherit;
    text-decoration: none; }

h1 {
  font-size: 3.5rem;
  line-height: 1.2; }

h2 {
  font-size: 2.25rem; }

h3 {
  font-size: 1.5rem; }

h4 {
  font-size: 1.1rem; }

h5 {
  font-size: 0.9rem; }

h6 {
  font-size: 0.7rem; }

sub {
  font-size: 0.8rem;
  position: relative;
  top: 0.5rem; }

sup {
  font-size: 0.8rem;
  position: relative;
  top: -0.5rem; }

blockquote {
  border-left: solid 4px;
  font-style: italic;
  margin: 0 0 2rem 0;
  padding: 0.5rem 0 0.5rem 2rem; }

code {
  border-radius: 4px;
  font-family: "NanumMyeongjo", monospace;
  font-size: 0.9em;
  margin: 0 0.25rem;
  padding: 0.25rem 0.325rem; }

pre {
  -webkit-overflow-scrolling: touch;
  font-family: "NanumMyeongjo", monospace;
  font-size: 0.9em;
  margin: 0 0 2rem 0; }
  pre code {
    display: block;
    line-height: 1.5;
    padding: 0.75rem 1rem;
    overflow-x: auto; }

hr {
  border: 0;
  border-bottom: solid 1px;
  margin: 2.5rem 0; }
  hr.major {
    margin: 3.5rem 0; }

.align-left {
  text-align: left; }

.align-center {
  text-align: center; }

.align-right {
  text-align: right; }

@media screen and (max-width: 736px) {
  p.major {
    font-size: 1.1rem; }
  h1 {
    font-size: 2.5rem; }
  h2 {
    font-size: 2rem; }
  h3 {
    font-size: 1.25rem; }
  h4 {
    font-size: 1rem; } }

input,
select,
textarea {
  color: #333333; }

a {
  color: #333333; }
  a:hover {
    color: #47D3E5; }

strong,
b {
  color: #333333; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333333; }

blockquote {
  border-left-color: rgba(0, 0, 0, 0.2); }

code {
  background: rgba(0, 0, 0, 0.05);
  border-color: rgba(0, 0, 0, 0.2); }

hr {
  border-bottom-color: rgba(0, 0, 0, 0.2); }

/**
 *	Spoqa Han Sans
 */
@font-face {
  font-family: 'Spoqa Han Sans';
  font-weight: 300;
  src: url("assets/fonts/SpoqaHanSans_subset/Spoqa Han Sans Light.woff2") format("woff2"), url("assets/fonts/SpoqaHanSans_subset/Spoqa Han Sans Light.woff") format("woff"), url("assets/fonts/SpoqaHanSans_subset/Spoqa Han Sans Light.ttf") format("truetype"); }

@font-face {
  font-family: 'Spoqa Han Sans';
  font-weight: 400;
  src: url("assets/fonts/SpoqaHanSans_subset/Spoqa Han Sans Regular.woff2") format("woff2"), url("assets/fonts/SpoqaHanSans_subset/Spoqa Han Sans Regular.woff") format("woff"), url("assets/fonts/SpoqaHanSans_subset/Spoqa Han Sans Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Spoqa Han Sans';
  font-weight: 700;
  src: url("assets/fonts/SpoqaHanSans_subset/Spoqa Han Sans Bold.woff2") format("woff2"), url("assets/fonts/SpoqaHanSans_subset/Spoqa Han Sans Bold.woff") format("woff"), url("assets/fonts/SpoqaHanSans_subset/Spoqa Han Sans Bold.ttf") format("truetype"); }

/**
 *	Gotham
 */
@font-face {
  font-family: 'Gotham';
  font-weight: 700;
  src: url("assets/fonts/Gotham/GothamBold.woff2") format("woff2"), url("assets/fonts/Gotham/GothamBold.woff") format("woff"), url("assets/fonts/Gotham/GothamBold.ttf") format("truetype"); }

@font-face {
  font-family: 'Gotham';
  font-weight: 900;
  src: url("assets/fonts/Gotham/GothamBlack.woff2") format("woff2"), url("assets/fonts/Gotham/GothamBlack.woff") format("woff"), url("assets/fonts/Gotham/GothamBlack.ttf") format("truetype"); }

.main-page {
  background: red; }

.main-page {
  overflow-x: hidden;
  height: 100vh;
  background: url("assets/images/00_main_01_bg.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .main-page.is-loading *,
  .main-page.is-loading *:before,
  .main-page.is-loading *:after {
    -moz-animation: none !important;
    -webkit-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
    -moz-transition: none !important;
    -webkit-transition: none !important;
    -ms-transition: none !important;
    transition: none !important; }

.main-nav {
  position: absolute;
  width: 100%;
  z-index: 2; }
  .main-nav .scwrap-logo {
    float: left;
    margin-left: 1.9rem;
    margin-top: 1.9rem;
    font-size: 2rem; }
  .main-nav .scwrap-profile {
    float: right;
    margin-right: 1.9rem;
    margin-top: 1.9rem;
    font-size: 2rem; }

.main-content {
  color: #fff; }
