.App {
  text-align: center; }
  .App .logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

/**
 *  Main App
 */
/* Reset */
/* Box Model */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

#root {
  width: 100%; }

.main-page {
  background: red; }

.main-page {
  overflow-x: hidden;
  height: 100vh;
  background: url("assets/images/00_main_01_bg.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .main-page.is-loading *,
  .main-page.is-loading *:before,
  .main-page.is-loading *:after {
    -moz-animation: none !important;
    -webkit-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
    -moz-transition: none !important;
    -webkit-transition: none !important;
    -ms-transition: none !important;
    transition: none !important; }

.main-nav {
  position: absolute;
  width: 100%;
  z-index: 2; }
  .main-nav .scwrap-logo {
    float: left;
    margin-left: 1.9rem;
    margin-top: 1.9rem;
    font-size: 2rem; }
  .main-nav .scwrap-profile {
    float: right;
    margin-right: 1.9rem;
    margin-top: 1.9rem;
    font-size: 2rem; }
