.img1 {
	background: url('assets/images/f.png') no-repeat;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
	display: block;
	width: 275.8px;
	height: 300px;
	margin-top: 40px;
}
