@keyframes spinAround {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }

.container {
  margin: 0 auto;
  position: relative; }
  @media screen and (min-width: 1024px) {
    .container {
      max-width: 960px;
      width: 960px; }
      .container.is-fluid {
        margin-left: 32px;
        margin-right: 32px;
        max-width: none;
        width: auto; } }
  @media screen and (max-width: 1215px) {
    .container.is-widescreen {
      max-width: 1152px;
      width: auto; } }
  @media screen and (max-width: 1407px) {
    .container.is-fullhd {
      max-width: 1344px;
      width: auto; } }
  @media screen and (min-width: 1216px) {
    .container {
      max-width: 1152px;
      width: 1152px; } }
  @media screen and (min-width: 1408px) {
    .container {
      max-width: 1344px;
      width: 1344px; } }

/* Reset */
/* Box Model */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* Typography */
body, input, select, textarea {
  color: #ffffff;
  font-family: "Spoqa Han Sans, Georgia, serif";
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.65; }

@font-face {
  font-family: 'Spoqa Han Sans';
  font-weight: 700;
  src: url("assets/fonts/SpoqaHanSans_subset/Spoqa Han Sans Bold.woff2") format("woff2"), url("assets/fonts/SpoqaHanSans_subset/Spoqa Han Sans Bold.woff") format("woff"), url("assets/fonts/SpoqaHanSans_subset/Spoqa Han Sans Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'Gotham';
  font-weight: 700;
  src: url("assets/fonts/Gotham/GothamBold.woff2") format("woff2"), url("assets/fonts/Gotham/GothamBold.woff") format("woff"), url("assets/fonts/Gotham/GothamBold.ttf") format("truetype"); }

.main-page {
  background: red; }

.main-page {
  overflow-x: hidden;
  height: 100vh;
  background: url("assets/images/00_main_01_bg.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .main-page.is-loading *,
  .main-page.is-loading *:before,
  .main-page.is-loading *:after {
    -moz-animation: none !important;
    -webkit-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
    -moz-transition: none !important;
    -webkit-transition: none !important;
    -ms-transition: none !important;
    transition: none !important; }

.main-nav {
  position: absolute;
  width: 100%;
  z-index: 2; }
  .main-nav .scwrap-logo {
    float: left;
    margin-left: 1.9rem;
    margin-top: 1.9rem;
    font-size: 2rem; }
  .main-nav .scwrap-profile {
    float: right;
    margin-right: 1.9rem;
    margin-top: 1.9rem;
    font-size: 2rem; }

.main-content {
  color: #ffffff; }
